body, html {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    min-width: 320px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: #fff;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-kerning: auto;
            font-kerning: auto;
}

body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0px 1fr 0px;
        grid-template-columns: 0px 1fr 0px;
    -ms-grid-rows: 240px 270px 1fr 175px;
        grid-template-rows: 240px 270px 1fr 175px;
}

/* hero-image scaling */

@media only screen and (min-width: 412px) {
    body {
        -ms-grid-rows: 200px 340px 1fr 175px;
            grid-template-rows: 200px 340px 1fr 175px;
    }
}

@media only screen and (min-width: 500px) {
    body {
        -ms-grid-rows: 200px 420px 1fr 75px;
            grid-template-rows: 200px 420px 1fr 75px;
    }
}

/* 1024px wrapper */

@media only screen and (min-width: 1024px) {
    body {
        -ms-grid-columns: 1fr 1024px 1fr;
            grid-template-columns: 1fr 1024px 1fr;
    }
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

/* header styling */

.header {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    grid-column: 2;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 2fr 1fr 1fr;
        grid-template-rows: 2fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    justify-items: center;
    color: #759EB8;
    font-size: 20px;
    margin: 0 1rem;
}

.logo {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 1 / 1 / 2 / 3;
    font-size: 2rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    letter-spacing: 4px;
    background: #759EB8;
    color: #fff;
    border-radius: 5px;
    padding: .5rem;
    margin: 1rem;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.header--nav {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2 / 1 / 3 / 2;
    padding: .5rem;
    cursor: pointer;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    -webkit-transition: color .3s, -webkit-transform .2s;
    transition: color .3s, -webkit-transform .2s;
    transition: transform .2s, color .3s;
    transition: transform .2s, color .3s, -webkit-transform .2s;
}

.header--nav:hover {
    color: #326483;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
}

.header--codepen {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2 / 2 / 3 / 3;
}

.header--projects {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 3 / 1 / 4 / 2;
}

.header--resume {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 3 / 2 / 4 / 3;
}

/* from multi to single row header */

@media only screen and (min-width: 775px) {
    body {
        -ms-grid-rows: 96px 420px 1fr 75px;
            grid-template-rows: 96px 420px 1fr 75px;
    }

    .header {
        -ms-grid-rows: 1fr;
            grid-template-rows: 1fr;
        -ms-grid-columns: 5fr 1fr 1fr 1fr 1fr;
            grid-template-columns: 5fr 1fr 1fr 1fr 1fr;
    }

    .logo, .header--nav {
        -ms-grid-row: 1;
        grid-row: 1;
    }
    
    .header--logo {
        -ms-grid-column: 1;
        grid-column: 1;
        font-size: 1.75rem;
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
        -ms-grid-column-align: start;
            justify-self: start;
    }

    .header--nav {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    
    .header--github {
        -ms-grid-column: 2;
        grid-column: 2;
    }
    
    .header--codepen {
        -ms-grid-column: 3;
        grid-column: 3;
    }
    
    .header--projects {
        -ms-grid-column: 4;
        grid-column: 4;
    }
    
    .header--resume {
        -ms-grid-column: 5;
        grid-column: 5;
    }
}

@media only screen and (min-width: 850px) {
    .header--logo {
        font-size: 2rem;
    }
}

/* Hero styling */

.hero--background {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / span 3;
    background-image: url("../images/computer_desk.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.hero--content {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    grid-column: 2;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 4fr 4fr;
        grid-template-rows: 1fr 4fr 4fr;
    -ms-grid-columns: 2fr 1.5fr;
        grid-template-columns: 2fr 1.5fr;
}

.hero--content--class--declaration {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2 / 1 / 3 / 2;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    color: #fff;
    margin: .5rem;
}

.hero--content--class--expression {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 3 / 1 / 4 / 3;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    color: #fff;
    margin: .5rem;
}

.declare {
    color: #cdb453;
}

.class {
    color: #68e8b5;
}

.constructor {
    color: #F4F1BB;
}

.variable {
    color: #96d7f7;
}

.text {
    color: #c37f44;
}


@media only screen and (min-width: 400px) {
    .hero--content {
        -ms-grid-columns: 1fr 12fr 12fr 1fr;
            grid-template-columns: 1fr 12fr 12fr 1fr;
        margin: 0;
    }
    
    .hero--content--class--declaration {
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-area: 2 / 2 / 3 / 3;
    }
    
    .hero--content--class--expression {
        -ms-grid-row: 3;
        -ms-grid-column: 2;
        -ms-grid-column-span: 2;
        grid-area: 3 / 2 / 3 / 4;
    }
}

@media only screen and (min-width: 514px) {
    .hero--content {
        font-size: 1.25rem;
    }
}

@media only screen and (min-width: 605px) {
    .hero--content {
        -ms-grid-columns: 1fr 9fr 9fr 1fr;
            grid-template-columns: 1fr 9fr 9fr 1fr;
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 650px) {
    .hero-content {
        -ms-grid-columns: 1fr 6fr 6fr 1fr;
            grid-template-columns: 1fr 6fr 6fr 1fr;
    }
}

@media only screen and (min-width: 730px) {
    .hero-content {
        -ms-grid-columns: 1fr 3fr 3fr 1fr;
            grid-template-columns: 1fr 3fr 3fr 1fr;
    }
}

main {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 2;
    grid-column: 2;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 610px;
        grid-template-rows: 1fr 610px;
}


.title {
    margin-left: 2rem;
    color: #759EB8;
}

.seperator {
    background: -webkit-gradient(linear, left top, right top, from(#5B9279), color-stop(#5B927900), color-stop(#5B927900), to(#5B927900));
    background: linear-gradient(to right, #5B9279, #5B927900, #5B927900, #5B927900);
    height: 2px;
    margin-left: 2rem;
}

.bio {
    -ms-grid-row: 1;
    grid-row: 1;
}

.about-me {
    max-width: 540px;
    font-family: 'Open Sans', sans-serif;
    margin-right: auto;
    margin-left: auto;
    padding: 1rem;
    color: #326483;
}


.body-txt {
    margin-bottom: 1rem;
}

/* Projects styling */

.featured--projects {
    -ms-grid-row: 2;
    grid-row: 2;
}

.projects {
    height: 550px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem;
}

.project {
    background-size: cover;
    background-position: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 0;
            flex: 1 0;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow:
        inset 0 0 0 5px rgba(0,0,0,0.3);
            box-shadow:
        inset 0 0 0 5px rgba(0,0,0,0.3);
    -webkit-transform: scale(.9);
            transform: scale(.9);
    -webkit-transition: 
        -webkit-box-flex .8s cubic-bezier(0.57, -0.37, 0.46, 1.42),
        -webkit-transform 0.8s ease-in-out;
    transition: 
        -webkit-box-flex .8s cubic-bezier(0.57, -0.37, 0.46, 1.42),
        -webkit-transform 0.8s ease-in-out;
    transition: 
        flex .8s cubic-bezier(0.57, -0.37, 0.46, 1.42),
        transform 0.8s ease-in-out;
    transition: 
        flex .8s cubic-bezier(0.57, -0.37, 0.46, 1.42),
        transform 0.8s ease-in-out,
        -webkit-box-flex .8s cubic-bezier(0.57, -0.37, 0.46, 1.42),
        -ms-flex .8s cubic-bezier(0.57, -0.37, 0.46, 1.42),
        -webkit-transform 0.8s ease-in-out;
    cursor: pointer;
    overflow: hidden;
}

.project1 { background-image:url(../images/memory_game.jpg)}
.project2 { background-image:url(../images/arcade_game.jpg)}
.project3 { background-image:url(../images/neighborhood_map.jpg)}
.project4 { background-image:url(../images/tic_tac_toe.jpg)}
.project5 { background-image:url(../images/catch_of_the_day.jpg)}

.project > * {
    position: relative;
    margin: 0;
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1rem;
    background: rgba(0, 0, 0, 0.85);
    color: #EAE6E5;
    -webkit-transition: 
        -webkit-transform .8s ease-in-out;
    transition: 
        -webkit-transform .8s ease-in-out;
    transition: 
        transform .8s ease-in-out;
    transition: 
        transform .8s ease-in-out, -webkit-transform .8s ease-in-out;
}

.project--title {
    -webkit-transform: translateY(-150%);
            transform: translateY(-150%);
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
    background: rgba(255,255,255,0.85);
    color: #111;
    border: 1px solid #111;
    border-style: solid none;
}


.project--title-small {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transition: 
        -webkit-transform .5s ease-in-out 1.1s;
    transition: 
        -webkit-transform .5s ease-in-out 1.1s;
    transition: 
        transform .5s ease-in-out 1.1s;
    transition: 
        transform .5s ease-in-out 1.1s, -webkit-transform .5s ease-in-out 1.1s;
}

.project--link {
    -webkit-transform: translateY(150%);
            transform: translateY(150%);
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
    pointer-events: none;
    background: rgba(255,255,255,0.85);
    color: #111;
    border: 1px solid #111;
    border-style: solid none;
}

.project--details--container {   
    -webkit-transform: translateX(75%);   
            transform: translateX(75%);
    margin: 0;
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    font-size: 0px;
    background: none;
    color: #326483;
    border: none;
    border-style: none;
    -webkit-transition: 
        -webkit-transform 0.8s linear;
    transition: 
        -webkit-transform 0.8s linear;
    transition: 
        transform 0.8s linear;
    transition: 
        transform 0.8s linear, -webkit-transform 0.8s linear;
    text-shadow: none;
    overflow: hidden;
}
    
.project--details {
    height: 100%;
    font-size: 0px;
    -ms-flex-preferred-size: 66%;
        flex-basis: 66%;
    background: rgba(0, 0, 0, 0.9);
    color: #EAE6E5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow-y: auto;
}

@media only screen and (min-width: 400px) {
    .project--details {
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    }
}

@media only screen and (min-width: 750px) {
    .project--details {
        -ms-flex-preferred-size: 33%;
            flex-basis: 33%;
    }
}

.project--details-toggle {
    position: absolute;
    top: 50%;
    right: 1rem;
    margin-top: -.5rem;
    width: auto;
    background: #EAE6E5;
    border-radius: 50%;
    border: 1px solid #EAE6E5;
    color: #111;
    font-size: 2rem;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity .5s ease-in-out, -webkit-transform 0.8s ease-in-out;
    transition: opacity .5s ease-in-out, -webkit-transform 0.8s ease-in-out;
    transition: opacity .5s ease-in-out, transform 0.8s ease-in-out;
    transition: opacity .5s ease-in-out, transform 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
}

.fa-chevron-circle-left {
    -webkit-transition: -webkit-transform .5s linear;
    transition: -webkit-transform .5s linear;
    transition: transform .5s linear;
    transition: transform .5s linear, -webkit-transform .5s linear;
}

.appear {
    opacity: 1;
    z-index: 9;
    pointer-events: all;
    -webkit-transition: opacity .5s ease-in-out .8s, -webkit-transform 0.8s ease-in-out;
    transition: opacity .5s ease-in-out .8s, -webkit-transform 0.8s ease-in-out;
    transition: opacity .5s ease-in-out .8s, transform 0.8s ease-in-out;
    transition: opacity .5s ease-in-out .8s, transform 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
}

.details-txt {
    margin: 0 0 4px 0;
}

.details-title {
    margin: .5rem;
}
    
.open {
    -webkit-box-flex: 8;
        -ms-flex: 8;
            flex: 8;
    -webkit-transform: scale(1);
            transform: scale(1);
}

.shrink {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    height: 0px;
    border: none;
    -webkit-transition: 
        -webkit-transform 0.8s ease-out;
    transition: 
        -webkit-transform 0.8s ease-out;
    transition: 
        transform 0.8s ease-out;
    transition: 
        transform 0.8s ease-out, -webkit-transform 0.8s ease-out;
}

.slide-in {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
/*     transition: 
        transform 0.8s ease-out 1s; */
}

.increase-font {
    font-size: 14px;
}

.active {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    pointer-events: all;
    -webkit-transition: -webkit-transform .5s ease-in-out .8s;
    transition: -webkit-transform .5s ease-in-out .8s;
    transition: transform .5s ease-in-out .8s;
    transition: transform .5s ease-in-out .8s, -webkit-transform .5s ease-in-out .8s;
}

.disable-pointer {
    pointer-events: none;
}

.project.open-active > .project--title-small {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
}

.project.open-active > .project--details--container {
    -webkit-box-flex: 25;
        -ms-flex: 25;
            flex: 25;
}

@media only screen and (min-width: 400px) {
    .project--details {
        padding: 0 .5rem 0 .5rem;
    }
}

@media only screen and (min-width: 550px) {
    .projects {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .project.open-active > .project--details--container {
        -webkit-box-flex: 50;
            -ms-flex: 50;
                flex: 50;
    }
}

footer {
    -ms-grid-row: 4;
    grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / span 3;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0px 1fr 0px;
        grid-template-columns: 0px 1fr 0px;
}

.footer--bg {
    background: #326483;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / span 3;
    -ms-grid-row: 1;
    grid-row: 1;
}

.footer {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr .75fr 1fr;
        grid-template-columns: 1fr .75fr 1fr;
    -ms-grid-rows: 1.5fr .5fr 1fr;
        grid-template-rows: 1.5fr .5fr 1fr;
    color: #EAE6E5;
    font-family: "Open Sans", sans-serif;
    font-size: .75rem;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.footer--logo {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: 1 / 1 / 2 / 4;
    margin: 0;
    color: #EAE6E5;
}

.footer-content {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: 2 / 1 / 3 / 4;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #759EB8;
}

.footer-eml {
    color: #EAE6E5;
}

.footer-txt {
    margin: 0;
}

.footer--links {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: 3 / 1 / 4 / 4;
    font-size: 2rem;
    color: #759EB8;
}

.footer--icon {
    margin: 0 1rem;
    -webkit-transition: color .3s, -webkit-transform .3s;
    transition: color .3s, -webkit-transform .3s;
    transition: transform .3s, color .3s;
    transition: transform .3s, color .3s, -webkit-transform .3s;
}

.footer--icon:hover {
    color: #EAE6E5;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
}

@media only screen and (min-width: 500px) {
    .footer {
        -ms-grid-columns: 1fr 6fr 3fr;
            grid-template-columns: 1fr 6fr 3fr;
        -ms-grid-rows: 1fr;
            grid-template-rows: 1fr;
    }

    .footer--logo {
        -ms-grid-row: 1;
        grid-row: 1;
        -ms-grid-column: 1;
        grid-column: 1;
        margin-left: .5rem;

    }

    .footer-content {
        -ms-grid-row: 1;
        grid-row: 1;
        -ms-grid-column: 2;
        grid-column: 2;
    }

    .footer--links {
        -ms-grid-row: 1;
        grid-row: 1;
        -ms-grid-column: 3;
        grid-column: 3;
        -ms-grid-column-align: end;
            justify-self: end;
    }
}

@media only screen and (min-width: 750px) {
    .footer {
        -ms-grid-columns: 1fr 12fr 3fr;
            grid-template-columns: 1fr 12fr 3fr;
    }
}

@media only screen and (min-width: 1024px) {
    footer {
        -ms-grid-columns: 1fr 1024px 1fr;
            grid-template-columns: 1fr 1024px 1fr;
    }
}